// Your custom bootstrap overrides
body {
  background-image: url("/light-wool.png");
}

::selection {
  @extend .text-white;
  @extend .bg-primary;
}

// markdown styling
article {
  blockquote {
    @extend .p-2;
    @extend .border;
    @extend .rounded;
    @extend .bg-white;
    @extend .text-center;
    @extend .text-secondary;

    img {
      @extend .rounded;
    }

    p {
      @extend .mb-0;
      @extend .d-block;
    }
  }

  table {
    @extend .table, .table-hover;

    thead {
      @extend .thead-light;
    }
  }
}

//force thumbnails to 100% on small devices
img {
  @extend .img-fluid;
}

.thumb {
  width: 100%;
  height: 200px;
}

// center all markdown images
.markdown img {
  @extend .d-block;
  @extend .m-auto;
}

@include media-breakpoint-up(md) {
  .thumb {
    width: 320px;
    height: 180px;
  }
}
