// Your custom bootstrap overrides
body {
  background-image: url("/light-wool.png");
}

::selection {
  color: $white;
  background: $primary;
}

blockquote {
  padding: $spacer;
  color: $secondary;
  text-align: center;
  background-color: $white;
  border: $border-width solid $border-color;
  p {
    margin-bottom: 0;
    display: block;
  }
}

//force thumbnails to 100% on small devices
img {
  max-width: 100%;
}

.thumb {
  width: 100%;
  height: 200px;
}

// center all markdown images
.markdown img {
  display: block;
  margin: auto;
}

@include media-breakpoint-up(md) {
  .thumb {
    width: 320px;
    height: 180px;
  }
}
