// Your custom overrides
* {
  //outline: red 1px solid;
}

*::-moz-selection {
  color: $white;
  background: #7752a4;
}
*::selection {
  color: $white;
  background: #7752a4;
}

img {
  max-width: 100%;
}

.thumb {
  width: 100%;
  height: 200px;
}

@include media-breakpoint-up(md) {
  .thumb {
    width: 320px;
    height: 180px;
  }
}
